.footer{
    width:100%;
    height:300px;
    background-color:black;
}

@media screen and (max-width:600px){
    .footer{
    height:280px;
    }
}


.smallfooterlink{
    width:65%;
    height:60px;
    border-bottom:1px solid white;
    margin:auto;
}

@media screen and (max-width:600px){
    .smallfooterlink{
        width:100%;
    }
}


@media screen and (min-width:601px) and (max-width:1100px){
    .smallfooterlink{
        width:100%;
    }
}


.smallfooterlink a{
    margin-left:30px;
    color:white;
}

@media screen and (max-width:600px){
    .smallfooterlink a{
    font-size:12px;
    margin-left:20px;
    }
}

.secondoffooter{
    width:40%;
    height:200px;
    margin:auto;
}

@media screen and (max-width:600px){
    .secondoffooter{
    width:100%;
    height:auto;
    }
}


@media screen and (min-width:601px) and (max-width:1300px){
    .secondoffooter{
        width:100%;
    }
}

.secondoffooter button{
    padding:0px 50px 0px;
    margin-left:13px;
    margin-top:10px;
}

@media screen and (max-width:600px){
    .secondoffooter button{
        margin-left:7px;
        padding:0px 0px 0px;
        margin-top:10px;
        width:30%;
    }
}


@media screen and (min-width:601px) and (max-width:1300px){
    .secondoffooter button{
        margin-left:8%;
    }
}

.secondoffooter img{
    width:40px;
    border-radius:20px;
}

.lastoffooter{
    width:100%;
    height:70px;
    margin-top:20px;
}

.lastoffooter img{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-left:50px;
}

@media screen and (max-width:600px){
    .lastoffooter img{
      margin-left:4%;
      width:15%;
      margin-top:10px;
    }
}

@media screen and (min-width:601px) and (max-width:1300px){
    .lastoffooter{
        width:100%;
    }
}

@media screen and (min-width:601px) and (max-width:1300px){
    .lastoffooter img{
        margin-left:12%;
    }
}

#lastpara{
    font-size:18px;
    color:white;
}


@media screen and (max-width:600px){
    #lastpara{
    font-size:13px;
    text-align:center;
    }
}

@media screen and (min-width:601px) and (max-width:1300px){
    #lastpara{
        text-align:center;
    }
}