.secondcont{
    width:100%;
    height:400px;
    background-color:rgb(0, 0, 0);
   
}

@media screen and (max-width:400px) {
    .secondcont{
    height:600px;
    }
}

@media screen and (min-width:401px) and (max-width:767px){
    .secondcont{
        height:600px;
    }
}


@media screen and (min-width:768px) and (max-width:1494px){
    .secondcont{
        height:670px;
    }
}
/* start from here ne content styling so let's start from here .... */

#housing{
    margin-left:100px;
    margin-top:50px;
    display:inline-block;
    color:wheat;
}


@media screen and (max-width:400px) {
    #housing{
        font-size:30px;
        margin-left:15px;
    }
}

@media screen and (min-width:401px) and (max-width:767px){
    #housing{
        font-size:20px;
        text-align:center;
    }
}

.smallcont2{
    width:75%;
    border-radius:20px;
    height:200px;
    margin:auto;
}

@media screen and (max-width:400px){
    .smallcont2{
        width:100%;
        height:500px;
        margin-left:0px;
    }
}

@media screen and (min-width:401px) and (max-width:1330px) {
    .smallcont2{
        width:100%;
        height:500px;
    }
}

.scont{
    width:15%;
    height:90%;
    margin-top:1%;
    margin-left:1.5%;
    border-radius:15px;
    border:2px solid rgb(255, 255, 255);
    float:left;
}


@media screen and (max-width:400px) {
    .scont{
    width:45%;
    margin-left:1.5%;
    margin-top:5%;
    height:25%;
    margin-left:2.5%;
    }
}

@media screen and (min-width:401px) and (max-width:1330px) {
    .scont{
        width:30%;
        height:40%;
        margin-left:2.5%;
    }
}

.scont img{
    width:100%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    height:70%;
}

.scont p{
    font-size:20px;
    margin-left:5px;
    color:white;
}